*{
	 margin:  0px;
	 padding: 0px;
}

#centrar { 
	  width: 300px;
  height: 250px;
  margin: auto; 
}

body{
	
	background: #0E7823;
	font-family: Arial, Helvetica, sans-serif;
   
    
}


header h1{
	background: #E2FFE7;
	height: 200px;
	width: 100%;
	text-align: center;
	line-height: 200px;
	color: #000000;
	border-bottom: 10px, solid #ffffff;
	font-size: 50px;
}
.contenido{
	color: #0E7823;
}
.imagenes{
	display: block;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

