*{
	 margin:  0px;
	 padding: 0px;
}


body{
	text-align: justify;
	background: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	width:960px;
    margin:auto;
}

#container{
	width:  90%;
	margin: 0px auto;
}
header h1{
	background: #E2FFE7;
	height: 200px;
	width: 100%;
	text-align: center;
	line-height: 200px;
	color: #000000;
	border-bottom: 10px, solid #ffffff;
	font-size: 50px;
}
.contenido{
	color: #000000;
}
.imagenes{
	display: block;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

